<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 md-margin-bottom-40">
                <div class="headline"><h2>Psalm 27:4</h2></div>
                <p class="margin-bottom-25 md-margin-bottom-40">Eén ding heb ik van de HEERE verlangd, dát zal ik zoeken:<br/>
                    dat ik wonen mag in het huis van de HEERE, al de dagen van mijn leven,<br/>
                    om de lieflijkheid van de HEERE te aanschouwen en te onderzoeken in Zijn tempel.</p>
            </div><!--/col-md-8-->

            <div class="col-md-4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Contact</h2></div>
                <address class="md-margin-bottom-40">
                    GAstraat 23<br>
                    3811 AA, Amersfoort <br>
                    Tel: 033 0000000 <br>
                    Email: <a href="mailto:info@example.com" class="">info@example.com</a>
                </address>
            </div><!--/col-md-4-->
        </div>
    </div>
</div>
