<!-- Static navbar -->
<div class="navbar-wrapper">
    <div class="navbar navbar-default" role="navigation">
        <div class="container navcontainer">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <div class="logo"><img src="/img/logo.png"/></div>
                        <span class="hidden-sm">Gebedshuis Amersfoort</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Het gebedshuis <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="watwedoen.html">Wat we doen</a></li>
                                <li><a href="waarden.html">Onze waarden</a></li>
                                <li class="divider"></li>
                                <li><a href="ga.html">Stichting GA</a></li>
                            </ul>
                        </li>
                        <li><a href="agenda.html">Tijden van gebed</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">De gebedsruimte <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="amhw.html">Aanbidding met het Woord</a></li>
                                <li><a href="voorbede.html">Voorbede</a></li>
                                <li><a href="devotional.html">Devotional</a></li>
                                <li><a href="gedragscode.html">Gedragscode en organisatie</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>
    </div>
</div>

<!-- CAROUSEL HEADER
=================================-->
<div id="carousel-home" class="carousel slide" data-ride="carousel" data-interval="10000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
        <li data-target="#carousel-home" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/img/carousel/waxine.jpg" alt="nacht">
            <div class="carousel-caption">
                <p>Gebed in de nacht.</p>
            </div>
        </div>
        <div class="item">
            <img src="/img/carousel/piano.jpg" alt="bijbel">
            <div class="carousel-caption">
                <h1>De bijbel bidden.</h1>
                <p>Gods Woord centraal in gebed en aanbidding.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Hoe en waarom &raquo;</a></p>
            </div>
        </div>
        <div class="item">
            <img src="/img/carousel/koppelpoort.jpg" alt="koppelpoort">
            <div class="carousel-caption">
                <h1>Amersfoort.</h1>
                <p>Poort voor Nederland.</p>
            </div>
        </div>
        <div class="item">
            <img src="/img/carousel/olielampen.jpg" alt="olie">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-home" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-home" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
